* {
    margin: 0;
    padding: 0;
}
body{
  color:#000000;
}
html {
    /* fail safe */
    background-color: grey;

    /* Radial gradient background - csss3 */
     background: #8a8f56;
     text-align: center;
}
#nameDiv {
    margin-top: 50px;
}
.input {
    font-size: 23px;
    color: black;
    font-weight: 700;
    font-family: 'Josefin Sans', sans-serif;
    margin: 18px;
}
#entry {
    width: 185px;
    height: 38px;
    font-size: 23px;
    font-family:  'Josefin Sans', sans-serif;
    background-color:green;
    color: white;
    box-shadow: 0 2px 2px 0 rgba(231, 167, 48, 0.5);
    margin-top: 10px;
}
table {
    border-collapse: collapse;
    width: 50%;
    margin: 50px auto;
    background-color: grey;
}
table, th, td {
    border: 2px solid black;
    padding: 5px;
}
th {
    font-size: 20px;
    font-weight: 600;
    font-family:  'Josefin Sans', sans-serif;
    color: black;
}
td {
    font-size: 18px;
    font-weight: 400;
    font-family:  'Josefin Sans', sans-serif;
    color: cornsilk;
    
}
